# Template .gitignore file

# folder ignores
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/venv
**/.tox

**/pycutils.egg-info

**/.DS_Store
**/.vscode

**.csv
**.dta
**.smcl
**.zip

**.RData
**.Rhistory

**.dct
**.log
**.aux

**.docx
**.ppt
**.xlsx
**.xls

**/*-checkpoint*

**.coverage

**scratch.py

dist/*
